body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'foodpedia';
  src: url(./fonts/NanumBrushScript-Regular.ttf);
}

@font-face {
  font-family: 'maypleStory';
  src: url(./fonts/Maplestory\ OTF\ Bold.otf);
}

@font-face {
  font-family: 'KCC';
  src: url(./fonts/KCCMurukmuruk\(MAC용\).otf);
}

:root {
  --font-foodpedia: 'foodpedia';
  --font-maypleStory: 'maypleStory';
  --font-KCC: 'KCC';

  --color-bookmark: #60a5fa;
  --color-score: #f472b6;
  --color-address: #6b7280;
}
